/* @font-face kit by Fonts2u (http://www.fonts2u.com) */

@font-face {
  font-family: 'matrix';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/mATrIX.eot?') format("eot"),
  url('../fonts/mATrIX.woff') format("woff"),
  url('../fonts/mATrIX.ttf') format("truetype"),
  url('../fonts/mATrIX.svg#') format("svg");
}
