@import '_reset.scss';
@import '_forms.scss';
@import '_wordpress.scss';
@import '_comments.scss';
@import '_font_fontawesome.scss';
@import '_font_opensans.scss';
@import 'font_matrx';
@import '_sprite.scss';
@import '_mixin.scss';
$width: 1300px;
$footer: 20px;
$footer_margin: $footer - 2 * $footer;
$color: #444;
$color_a: #000;
$trs: all .5s;

body {
  /* font-family: 'matrix'; */
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;

  color: $color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  &.mylittleponys {
    /* background-image: url(../img/bg.gif); */
  }
}
a {
  transition: $trs;

  color: $color_a;
  &:hover {
    color: lighten($color_a, 10%);
  }
  &:active {
    color: lighten($color_a, 20%);
  }
}

.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.inner {
  position: relative;

  width: $width;
  margin: 0 auto;
}

header {
  height: 10px;
  .logo {
    display: block;

    width: 100px;
    img {
      max-width: 100%;
    }
  }
}


section {
  width: 100%;
  min-width: 700px;
  padding: 0 0 $footer;

  @extend .inner;
  @extend .clearfix;
  button {
    display: block;

    width: 100%;
    margin: 0 auto 20px;
    padding: 5px 0;

    text-align: center;

    border-radius: 8px;
    span {
      display: none;
    }
    &.button-active {
      background-color: green;
      span {
        font-weight: bold;

        display: inline;

        color: red;
      }
    }
  }
  form {
    width: 100%;

    @extend .clearfix;
    table {
      float: left;

      width: 60%;
      td {
        width: 65%;
        padding: 5px 0;
        &:last-child {
          width: 35%;
        }
      }
      label {
        color: #000;
      }
      input,
      button {
        outline: none;
      }
      input {
        font-size: 14px;

        height: 25px;
        padding: 3px 5px;

        color: #000;
      }
      #number-5 {
        font-weight: bold;

        color: red;
      }
    }
  }
}
.resulblock,
.resulblock-second,
.resulblock-third {
  line-height: 1.4;

  float: right;

  width: 38%;
  min-height: 100px;
  padding: 5px;

  cursor: pointer;

  border: 3px solid orange;
  border-radius: 4px;
}
.form-first,
.form-second,
.form-third {
  float: left;

  width: 50%;
  padding: 10px;
}
.form-first {
  td {
    vertical-align: middle;

    border-top: 1px solid green;
    border-bottom: 1px solid green;
  }
  input[name='random-number-from'],
  input[name='random-number-to'],
  input[name='random-number-2-from'],
  input[name='random-number-2-to'],
  input[name='number-9-from'],
  input[name='number-9-to'] {
    display: block;

    width: auto;
    margin: 0 5px;
    padding: 0 5px;

    text-align: center;

    color: #fff;
  }
  input[name='random-number-from'],
  input[name='random-number-2-from'],
  input[name='number-9-from'] {
    background-color: lighten(green, 5%);
  }
  input[name='random-number-to'],
  input[name='random-number-2-to'],
  input[name='number-9-to'] {
    background-color: lighten(red, 10%);
  }
}
.form-second {
  ul {
    margin: 0 0 20px;
    padding: 0;

    @extend .clearfix;
    li {
      display: inline-block;
      float: left;

      width: 33%;
      margin: 0 0 10px;
      padding: 0 5px;
    }
  }
  button {
    margin: 0;
  }
  .resulblock-second {
    width: 100%;
  }
}
.form-third {
  .resulblock-third {
    width: 100%;
  }
}

footer {
  position: relative;

  width: 100%;
  height: $footer;
  margin: $footer_margin auto 0;
  .mainfooter {
    width: $width;
    height: 100%;
    margin: 0 auto;
  }
}

@import '_print.scss';
